@import './reset.css';
:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    }
body {
  background-image: url(../img/bridge-gf02250d93_1920.jpg);
}
.container {
  width:min(100%-30px, 1280px);
  margin-inline:auto;
}
           
main{
  padding:60px;
}
section{
  margin-top: 60px;
}
h2 {
  font-size: 24px;
  color:lightcoral;
  margin-left: 30%;
  margin-top: 50px;
}
        
p{
  font-size: 20px;
  margin-left: 30px;
            
}

.container {
  width: 600px;
  height:400px;
  background-color: #000;
  border-radius: 8px;
  }
  main{
  margin-top: 100px;
  display:grid;
  place-items: center;
}
   
  
form {
  margin-top: 20px;
  margin-left: 40px;
  width: 80%;
  text-align: center;
}
  
   
  
input[type="text"] {
  width: 100%;
  height: 48px;
  padding: 0 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}
  
   
  
form input + input {
  margin-top: 20px;
}
  
   
  
input:focus {
  border: 1px solid rgba(255, 255, 255, .25);
}
  
   



input[type="button"] {
    width: 120px;
    height: 46px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color:lightcoral;
    cursor: pointer;
    place-items: left;
}

p{
    color:lightcoral;
}



  .output {
    margin-top: 40px;
    height: 52px;
    padding: 0 15px;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 0.2);
    /*box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset;*/
    text-align: left;
    margin-left: 50px;
     
  }
  
   
  
 .one , .msg{
    font-size: 17px;
    font-weight: 400;
    color: #f2f4f6;
    line-height: 52px;
    cursor: default;
   /* visibility: hidden;
    opacity: 0;*/
  }

.three{
  font-size: 22px;
  margin-left: 20px;
}
.two {
    font-size: 17px;
    font-weight: 400;
    color: #f2f4f6;
    line-height: 52px;
    cursor: default;
   /* visibility: hidden;
    opacity: 0;*/
  }

  .calc{
    visibility: hidden;
    opacity:0;
  }

  #reset{
    display: none;
  }

  .block{
    display: block;
  }

  .reset {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
.msg{
    font-size: 22px;
    color:red;
}
  .msg {
    display:none;
    margin-left: '';
  }

.game{
  place-items: center;
}

#start{
  margin-left: 5%;
}
/*.get-result{
  margin-left: 38%;
}*/