@import './reset.css';
:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    }
body {
  background-image: url(../img/bridge-gf02250d93_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(var(--vh, 1vh) * 100);
}


           

h2 {
  font-size: 24px;
  color:lightcoral;
  /* margin-left: 35%;
  margin-top: 50px; */
}
        
p{
  font-size: 18px;
  /* margin-left: 70px; */
            
}

.container {
  width: 400px;
  height:400px;
  background-color: #000;
  border-radius: 8px;
  
  }
  main{
    display:grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
  .calculator{
  /* margin-top: 100px; */
  display:grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* gap: 20px; */
  /* height: 100vh; */
}
  
.center{
   display:grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  
form {
  /* margin-top: 20px;
  margin-left: 40px; */
  width: 80%;
  text-align: center;
}
  
   
  
input[type="text"] {
  width: 240px;
  height: 40px;
  /* padding: 0 15px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}
  
   
  
form input + input {
  /* margin-top: 20px; */
}
  
   
  
input:focus {
  border: 1px solid rgba(255, 255, 255, .25);
}
  
   



input[type="button"] {
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color:lightcoral;
    cursor: pointer;
    place-items: left;
}

p{
    color:lightcoral;
}



  .output {
    /* margin-top: 40px; */
    height: 52px;
    padding: 0 15px;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 0.2);
    /*box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset;*/
    /* text-align: left; */
    /* margin-left: 50px; */
     
  }
  
   
  
 .one , .msg{
    font-size: 17px;
    font-weight: 400;
    color: #f2f4f6;
    line-height: 52px;
    cursor: default;
   /* visibility: hidden;
    opacity: 0;*/
  }

.three{
  font-size: 22px;
  /* margin-left: 20px; */
}
.two {
    font-size: 17px;
    font-weight: 400;
    color: #f2f4f6;
    line-height: 52px;
    cursor: default;
   /* visibility: hidden;
    opacity: 0;*/
    /* margin-left: 30px; */
  }

  .calc{
    visibility: hidden;
    opacity:0;
    
  }

  #reset{
    display: none;
  }

  .block{
    display: block;
  }

  .reset {
    position: absolute;
    right: 40px;
    bottom: 40px;
    animation:shake 2.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  }

  .reset2{
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
.msg, .lets{
    font-size: 22px;
    color:red;
}
  .msg {
    display:none;
    margin-left: '';
  }

.game{
  place-items: center;
}
.output{
  /* text-align: center; */
 
 
}

.output p{
  font-size: 16px;
  color: red
}
#start{
  /* margin-left: 5%; */
}
/*.get-result{
  margin-left: 38%;
}*/
.one{
  /* margin-left: 30px; */
}

.game2{
  animation:shake 2.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

.first{
  margin-bottom: 20px;
}
/*@keyframes shake{
 10%, 90% { transform: translate3d(-4px, 0, 0);}
 20%, 80% { transform: translate3d(2px, 0, 0);}
 30%, 50%, 70% { transform: translate3d(-4px, 0, 0);}
 40%, 60% { transform: translate(3px, 0, 0);}
} */

@keyframes shake { 
  0%, 100% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
  20%, 40%, 60%, 80% {transform: translateX(10px);} 
}

@media (max-width:700px){
  h2{
      font-size: 18px;
  }
  .row{
      display: inline;
  }
  .container{
    width: 500px;
    height: 600px;
    /* margin-right: 20px; */
    margin-left: 0;
  }
}


@media (max-width:600px){
  h2{
      font-size: 16px;
  }
  .row{
      display: inline;
  }
 .container{ margin-left: 0px;
}


  
}

@media (max-width:390px){
  h2{
      font-size: 12px;
  }
  .row{
      display: inline;
  }
 .container{ margin-left: 0px;
}
.text, .msg{
  font-size: 18px;
}

.container{
  width: 300px;
  height: 400px;
  /* margin-right: 20px; */
  margin-left: 0;
}


  
}

